<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalTitle">Resultado</h5>
      </div>
      <div class="modal-body" id="messageModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-onepay">
        <%= image_tag "onepaylogo.png", class: "mx-auto d-block" %>
      </div>
      <div class="modal-body" id="messageModalBody">
        <div class="text-center">
          Escanea el <span class="font-weight-bold">código QR</span> con <br>
          la app <span class="font-weight-bold">Onepay</span> de tu celular
        </div>

        <div id="payment-qr" class="bg-dark mx-auto d-block" style="width: 150px; height: 150px;">
        </div>

        <div class="text-center">
          1234 - 5678
        </div>

        <div class="text-center">
          Código de compra
        </div>

        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%"></div>
        </div>

        <div class="text-center">
          Tienes un minuto y medio para efectuar el pago
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No pagar y volver</button>
      </div>
    </div>
  </div>
</div>
